SELECT SERVERPROPERTY('InstanceDefaultDataPath') AS DefaultDataPath;


USE [master];
GO

-- Crear la base de datos 'proyecto_peti'
CREATE DATABASE [proyecto_peti]
 CONTAINMENT = NONE
 ON PRIMARY 
(
    NAME = N'proyecto_peti',  -- Nombre del archivo de datos principal
    FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\proyecto_peti.mdf',  -- Archivo de datos (debe tener extensión .mdf)
    SIZE = 8192KB,  -- Tamaño inicial del archivo de datos
    MAXSIZE = UNLIMITED,  -- Tamaño máximo del archivo de datos (sin límite)
    FILEGROWTH = 65536KB  -- Crecimiento del archivo de datos en bloques de 64MB
)
LOG ON 
(
    NAME = N'proyecto_peti_log',  -- Nombre del archivo de log
    FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\proyecto_peti_log.ldf',  -- Archivo de log (debe tener extensión .ldf)
    SIZE = 8192KB,  -- Tamaño inicial del archivo de log
    MAXSIZE = 2048GB,  -- Tamaño máximo del archivo de log
    FILEGROWTH = 65536KB  -- Crecimiento del archivo de log en bloques de 64MB
)
WITH CATALOG_COLLATION = DATABASE_DEFAULT;
GO

-- Establecer el nivel de compatibilidad de la base de datos
ALTER DATABASE [proyecto_peti] SET COMPATIBILITY_LEVEL = 150;
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [proyecto_peti].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [proyecto_peti]
GO
/****** Object:  Table [dbo].[AnalisisFODA]    Script Date: 12/06/2025 03:33:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnalisisFODA](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlanId] [int] NOT NULL,
	[Fortalezas] [nvarchar](max) NULL,
	[Debilidades] [nvarchar](max) NULL,
	[Oportunidades] [nvarchar](max) NULL,
	[Amenazas] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnalisisPEST]    Script Date: 12/06/2025 03:33:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnalisisPEST](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlanId] [int] NOT NULL,
	[Politico] [nvarchar](max) NULL,
	[Economico] [nvarchar](max) NULL,
	[Social] [nvarchar](max) NULL,
	[Tecnologico] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BCG_DemandaGlobal]    Script Date: 12/06/2025 03:33:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BCG_DemandaGlobal](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlanEstrategicoId] [int] NOT NULL,
	[Producto] [int] NOT NULL,
	[Periodo] [int] NOT NULL,
	[Demanda] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BCG_FODA]    Script Date: 12/06/2025 03:33:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BCG_FODA](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlanEstrategicoId] [int] NOT NULL,
	[Tipo] [varchar](50) NOT NULL,
	[Codigo] [varchar](20) NOT NULL,
	[Descripcion] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BCG_ParticipacionMercado]    Script Date: 12/06/2025 03:33:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BCG_ParticipacionMercado](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlanEstrategicoId] [int] NOT NULL,
	[Producto] [int] NOT NULL,
	[Periodo] [int] NOT NULL,
	[Participacion] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BCG_PRM]    Script Date: 12/06/2025 03:33:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BCG_PRM](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlanEstrategicoId] [int] NOT NULL,
	[Producto] [int] NOT NULL,
	[Prm] [decimal](2, 0) NOT NULL,
 CONSTRAINT [PK__BCG_PRM__3214EC07F29BCBA2] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BCG_TasaCrecimientoMercado]    Script Date: 12/06/2025 03:33:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BCG_TasaCrecimientoMercado](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlanEstrategicoId] [int] NOT NULL,
	[Producto] [int] NOT NULL,
	[Periodo] [int] NOT NULL,
	[TasaCrecimiento] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BCG_Ventas]    Script Date: 12/06/2025 03:33:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BCG_Ventas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlanEstrategicoId] [int] NOT NULL,
	[Producto] [int] NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CadenaValor]    Script Date: 12/06/2025 03:33:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CadenaValor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlanId] [int] NOT NULL,
	[PreguntaNumero] [int] NOT NULL,
	[PreguntaTexto] [nvarchar](max) NULL,
	[Valoracion] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FuerzasPorter]    Script Date: 12/06/2025 03:33:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FuerzasPorter](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlanId] [int] NOT NULL,
	[NaturalezaCompetidores] [nvarchar](50) NULL,
	[NumeroCompetidores] [nvarchar](50) NULL,
	[RentabilidadMedia] [nvarchar](50) NULL,
	[Diferenciacion] [nvarchar](50) NULL,
	[BarrerasSalida] [nvarchar](50) NULL,
	[EconomiaEscala] [nvarchar](50) NULL,
	[NecesidadCapital] [nvarchar](50) NULL,
	[CostesCambio] [nvarchar](50) NULL,
	[RegulacionLegal] [nvarchar](50) NULL,
	[AccesoDistribucion] [nvarchar](50) NULL,
	[RecursosEspecificos] [nvarchar](50) NULL,
	[ConcentracionCompradores] [nvarchar](50) NULL,
	[VolumenCompras] [nvarchar](50) NULL,
	[Sustitucion] [nvarchar](50) NULL,
	[CostesCambioCliente] [nvarchar](50) NULL,
	[DisponibilidadSustitutos] [nvarchar](50) NULL,
	[Conclusion] [nvarchar](max) NULL,
	[Oportunidad1] [nvarchar](max) NULL,
	[Oportunidad2] [nvarchar](max) NULL,
	[Amenaza1] [nvarchar](max) NULL,
	[Amenaza2] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[AmenazaNuevos] [varchar](max) NULL,
	[RivalidadCompetidores] [varchar](max) NULL,
	[PoderProveedores] [varchar](max) NULL,
	[PoderClientes] [varchar](max) NULL,
	[AmenazaSustitutos] [varchar](max) NULL,
	[PlanEstrategico] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InformacionEmpresa]    Script Date: 12/06/2025 03:33:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InformacionEmpresa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlanId] [int] NOT NULL,
	[NombreEmpresa] [nvarchar](255) NULL,
	[Descripcion] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IniciativasEstrategicas]    Script Date: 12/06/2025 03:33:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IniciativasEstrategicas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlanId] [int] NOT NULL,
	[Perspectiva] [nvarchar](100) NULL,
	[Descripcion] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MatrizCAME]    Script Date: 12/06/2025 03:33:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatrizCAME](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlanId] [int] NOT NULL,
	[Corregir] [nvarchar](max) NULL,
	[Afrontar] [nvarchar](max) NULL,
	[Mantener] [nvarchar](max) NULL,
	[Explotar] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MatrizRACI]    Script Date: 12/06/2025 03:33:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatrizRACI](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlanId] [int] NOT NULL,
	[Actividad] [nvarchar](255) NULL,
	[Responsable] [nvarchar](100) NULL,
	[Aprobador] [nvarchar](100) NULL,
	[Consultado] [nvarchar](100) NULL,
	[Informado] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mision]    Script Date: 12/06/2025 03:33:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mision](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlanId] [int] NOT NULL,
	[Contenido] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ObjetivosEspecificos]    Script Date: 12/06/2025 03:33:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObjetivosEspecificos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ObjetivoId] [int] NOT NULL,
	[Detalle] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ObjetivosEstrategicos]    Script Date: 12/06/2025 03:33:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObjetivosEstrategicos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlanId] [int] NOT NULL,
	[Objetivo] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[UENComentario] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ObservacionesCadenaValor]    Script Date: 12/06/2025 03:33:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObservacionesCadenaValor](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlanId] [int] NOT NULL,
	[Fortalezas1] [nvarchar](max) NULL,
	[Fortalezas2] [nvarchar](max) NULL,
	[Fortalezas3] [nvarchar](max) NULL,
	[Fortalezas4] [nvarchar](max) NULL,
	[Debilidades1] [nvarchar](max) NULL,
	[Debilidades2] [nvarchar](max) NULL,
	[Debilidades3] [nvarchar](max) NULL,
	[Debilidades4] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlanEstrategico]    Script Date: 12/06/2025 03:33:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlanEstrategico](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[FechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResumenEjecutivo]    Script Date: 12/06/2025 03:33:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResumenEjecutivo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlanId] [int] NOT NULL,
	[Introduccion] [nvarchar](max) NULL,
	[Alcance] [nvarchar](max) NULL,
	[ResultadosEsperados] [nvarchar](max) NULL,
	[Conclusiones] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/06/2025 03:33:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Valores]    Script Date: 12/06/2025 03:33:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Valores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlanId] [int] NOT NULL,
	[Valor] [nvarchar](200) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vision]    Script Date: 12/06/2025 03:33:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vision](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlanId] [int] NOT NULL,
	[Contenido] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[AnalisisFODA] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CadenaValor] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[FuerzasPorter] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Mision] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ObjetivosEspecificos] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ObjetivosEstrategicos] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PlanEstrategico] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Valores] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Vision] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AnalisisFODA]  WITH CHECK ADD FOREIGN KEY([PlanId])
REFERENCES [dbo].[PlanEstrategico] ([Id])
GO
ALTER TABLE [dbo].[AnalisisPEST]  WITH CHECK ADD FOREIGN KEY([PlanId])
REFERENCES [dbo].[PlanEstrategico] ([Id])
GO
ALTER TABLE [dbo].[BCG_PRM]  WITH CHECK ADD  CONSTRAINT [FK_PRM_PlanEstrategico] FOREIGN KEY([PlanEstrategicoId])
REFERENCES [dbo].[PlanEstrategico] ([Id])
GO
ALTER TABLE [dbo].[BCG_PRM] CHECK CONSTRAINT [FK_PRM_PlanEstrategico]
GO
ALTER TABLE [dbo].[BCG_Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_PlanEstrategico] FOREIGN KEY([PlanEstrategicoId])
REFERENCES [dbo].[PlanEstrategico] ([Id])
GO
ALTER TABLE [dbo].[BCG_Ventas] CHECK CONSTRAINT [FK_Ventas_PlanEstrategico]
GO
ALTER TABLE [dbo].[CadenaValor]  WITH CHECK ADD FOREIGN KEY([PlanId])
REFERENCES [dbo].[PlanEstrategico] ([Id])
GO
ALTER TABLE [dbo].[FuerzasPorter]  WITH CHECK ADD FOREIGN KEY([PlanId])
REFERENCES [dbo].[PlanEstrategico] ([Id])
GO
ALTER TABLE [dbo].[InformacionEmpresa]  WITH CHECK ADD FOREIGN KEY([PlanId])
REFERENCES [dbo].[PlanEstrategico] ([Id])
GO
ALTER TABLE [dbo].[IniciativasEstrategicas]  WITH CHECK ADD FOREIGN KEY([PlanId])
REFERENCES [dbo].[PlanEstrategico] ([Id])
GO
ALTER TABLE [dbo].[MatrizCAME]  WITH CHECK ADD FOREIGN KEY([PlanId])
REFERENCES [dbo].[PlanEstrategico] ([Id])
GO
ALTER TABLE [dbo].[MatrizRACI]  WITH CHECK ADD FOREIGN KEY([PlanId])
REFERENCES [dbo].[PlanEstrategico] ([Id])
GO
ALTER TABLE [dbo].[Mision]  WITH CHECK ADD FOREIGN KEY([PlanId])
REFERENCES [dbo].[PlanEstrategico] ([Id])
GO
ALTER TABLE [dbo].[ObjetivosEspecificos]  WITH CHECK ADD FOREIGN KEY([ObjetivoId])
REFERENCES [dbo].[ObjetivosEstrategicos] ([Id])
GO
ALTER TABLE [dbo].[ObjetivosEstrategicos]  WITH CHECK ADD FOREIGN KEY([PlanId])
REFERENCES [dbo].[PlanEstrategico] ([Id])
GO
ALTER TABLE [dbo].[ObservacionesCadenaValor]  WITH CHECK ADD  CONSTRAINT [FK_ObservacionesCadenaValor_PlanEstrategico] FOREIGN KEY([PlanId])
REFERENCES [dbo].[PlanEstrategico] ([Id])
GO
ALTER TABLE [dbo].[ObservacionesCadenaValor] CHECK CONSTRAINT [FK_ObservacionesCadenaValor_PlanEstrategico]
GO
ALTER TABLE [dbo].[PlanEstrategico]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ResumenEjecutivo]  WITH CHECK ADD FOREIGN KEY([PlanId])
REFERENCES [dbo].[PlanEstrategico] ([Id])
GO
ALTER TABLE [dbo].[Valores]  WITH CHECK ADD FOREIGN KEY([PlanId])
REFERENCES [dbo].[PlanEstrategico] ([Id])
GO
ALTER TABLE [dbo].[Vision]  WITH CHECK ADD FOREIGN KEY([PlanId])
REFERENCES [dbo].[PlanEstrategico] ([Id])
GO
ALTER TABLE [dbo].[CadenaValor]  WITH CHECK ADD CHECK  (([Valoracion]>=(1) AND [Valoracion]<=(5)))
GO
USE [master]
GO
