@{
    ViewBag.Title = "Menú Principal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h2 class="text-center mb-4">INFORMACIÓN DE LA EMPRESA</h2>

    <div class="row mb-3">
        <div class="col-md-4 mb-2">
            <a href="/Mision/Index" class="btn btn-info btn-block">1. MISIÓN</a>
        </div>
        <div class="col-md-4 mb-2">
            <a href="/Analisis/Index" class="btn btn-info btn-block">5. ANÁLISIS INTERNO Y EXTERNO</a>
        </div>
        <div class="col-md-4 mb-2">
            <a href="/PEST/Index" class="btn btn-info btn-block">9. PEST</a>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4 mb-2">
            <a href="/Vision/Index" class="btn btn-info btn-block">2. VISIÓN</a>
        </div>
        <div class="col-md-4 mb-2">
            <a href="/CadenaValor/Index" class="btn btn-info btn-block">6. CADENA DE VALOR</a>
        </div>
        <div class="col-md-4 mb-2">
            <a href="/Estrategia/Index" class="btn btn-info btn-block">10. IDENTIFICACIÓN ESTRATEGIA</a>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4 mb-2">
            <a href="/Valores/Index" class="btn btn-info btn-block">3. VALORES</a>
        </div>
        <div class="col-md-4 mb-2">
            <a href="/BCG/Index" class="btn btn-info btn-block">7. MATRIZ PARTICIPACIÓN</a>
        </div>
        <div class="col-md-4 mb-2">
            <a href="/CAME/Index" class="btn btn-info btn-block">11. MATRIZ CAME</a>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-4 mb-2">
            <a href="/Objetivos/Index" class="btn btn-info btn-block">4. OBJETIVOS</a>
        </div>
        <div class="col-md-4 mb-2">
            <a href="/Porter/Index" class="btn btn-info btn-block">8. LAS 5 FUERZAS DE PORTER</a>
        </div>
    </div>

    <h4 class="text-center mt-4">
        <a href="/Resumen/Index" class="btn btn-primary">RESUMEN DEL PLAN EJECUTIVO</a>
    </h4>
</div>
